body{
    background-color: #24292E;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3EA9F5;
}

code{
    color: #ffffff;
    background-color: rgb(56, 56, 56);
}

  pre {
    color: #ffffff;
    background-color: rgb(56, 56, 56);

    > code {
      color: #ffffff;
      background: transparent;
    }
}

:link{
    color: #7E8083;
}

:visited{
    color: #ffffff
}
