body{
    background-color: #5B5B5B;
    color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #333333;
}

code{
    color: #ffffff;
    background-color: rgb(56, 56, 56);
}

  pre {
    color: #ffffff;
    background-color: rgb(56, 56, 56);

    > code {
      color: #ffffff;
      background: transparent;
    }
}

:link{
    color: aquamarine;
}

:visited{
    color: aqua
}
