<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="./">Home</a>
    <a href="./LinuxConf/">LinuxConf</a>
    <a href="./LinuxConf/LinuxDots">LinuxDots</a>
    <a href="./LinuxConf/LinuxDocs">LinuxDocs</a>
    <a href="./LinuxConf/ArchIso">ArchIso</a>
    <a href="./LinuxConf/ArchRepo">ArchRepo</a>
    <a href="./LinuxConf/LinuxScripts">LinuxScripts</a>
</div>
    
<span onclick="openNav()">open</span>

<div style="background-color: rgba(0,0,0,0.5)" onclick="openNav()" style="cursor:pointer"></div>

<script>

    function openNav(){
      document.getElementById("mySidenav").style.width = "250px";
      document.body.style.backgroundColor = rgb(0,0,0,0.5);
    }
    
    function closeNav(){
      document.getElementById("mySidenav").style.width = "0";
      document.body.style.backgroundColor = "initial";
    }

</script>