<div id="topbar">

    <div>
        <span onclick="openNav()" style="float: left">Menu</span>
    </div>

    <div>Linux Journey</div>

    <div>
        <span onclick="topScroll()" style="float: right">Top</span>
    </div>

</div>

<script>

    window.onscroll = function(){stickyFunc()};

    var topbar = document.getElementById("topbar");

    var sticky = topbar.offsetTop;

    function stickyFunc() {
        if (window.pageYOffset >= sticky) {
            topbar.classList.add("sticky")
        } else {
            topbar.classList.remove("sticky");
        }
    } 

</script>

<script>

    function topScroll() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    } 

</script>