---
---

// Headers
$header-heading-color: #80deea;
$header-bg-color: #1E1E1E;
$header-bg-color-secondary: #1E1E1E;

// Text
$section-headings-color: #a5d6a7;
$body-text-color: #ffffff;
$body-link-color: #388e3c;
$blockquote-text-color: #819198;

// Code
$code-bg-color: #f3f6fa;
$code-text-color: #567482;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

@import "{{ site.theme }}";

.highlight {
  background-color: #121212;
};